body{
  height: 10000px;
  min-width: 100%;
  margin:0
}
.header{
  border-bottom: solid 1px blue;
  color: white;
  font-weight: bold;
  width: 100%;
  background-color: midnightblue;
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: fixed;
}
.ss-header-exist{
}
.ss-header-none{
}
.ss-header-animating{
}
.target{
  margin-top: 1580px;
  border: solid 3px green;
  width: 100%
}